* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

html, body {
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.desktop-only {
    display: none !important;
}

nav {
    height: 13vh;
    background: #272727;
    position: absolute;
    width: 100%;

    .nav-title {
        display: flex;
        width: 65%;
        height: 100%;
        align-items: center;
        float: left;

        h2 {
            padding-left: 7vw;
            color: #fff;
            font-weight: normal;
        }
    }

    .hamburguer {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;

        .line {
            width: 30px;
            height: 3px;
            background: #fff;
            margin: 5px;
        }
    }

    .nav-links {
        display: flex;
        list-style: none;
        position: fixed;
        background: #272727;
        height: 100vh;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: clip-path 0.7s ease-out;

        li {
            a {
                color: #fff;
                text-decoration: none;
                font-size: 16px;
            }
        }
    }

    .open {
        clip-path: circle(1500px at 90% -20%);
        -webkit-clip-path: circle(1500px at 90% -20%);
        pointer-events: all;
    }
}

.container-subheader {
    background-color: #fff;
    padding: 10vh 0;

    .subheader {
        text-align: center;
        padding: 10vh 0 0 0;

        .container-menu {
            margin-top: 5vh;
            justify-content: space-around;
            display: flex;

            .desktop-only {
                display: none !important;
            }

            a {
                background-color: #343a40;
                color: #fff;
                padding: 2vh 5vw;
                width: 35vw;
                border-radius: 5px;
                box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;

                &:link {
                    text-decoration: none;
                }

                &:visited {
                    color: #fff;
                }

                &:active {
                    color: #fff;
                    box-shadow: none;
                }
            }
        }
    }

    .profile-photo {
        display: flex;
        margin: 0 auto 1vh auto;
        max-height: 200px;
        max-width: 200px;
        border-radius: 50%;
    }

    .social-media {
        width: 70vw;
        display: flex;
        justify-content: space-around;
        margin: 4vh auto 0 auto;

        .icon {
            width: 30px;
        }
    }

    .bio {
        font-size: 18px;
        margin-top: 3vh;
        padding: 0 1vw;
    }
}

.container-portfolio {
    padding: 0 15px 0 15px;

    h2 {
        padding: 5vh 0;
    }

    .container-card {
        
        .card {
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            max-width: 100%;
            min-height: 1px;
            background-color: #fff;
            border-radius: 5px;
            margin-bottom: 5vh;
            transition: box-shadow 0.3s;

            &:hover {
                box-shadow: 2px 4px 6px 0 rgba(140, 140, 140, 0.5);
            }
    
            img {
                max-width: 100%;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
    
            .text-card {
                padding: 2vh;
    
                h3 {
                    padding-bottom: 2vh;
                    font-weight: bolder;
                }
        
                p {
                    text-align: justify;
                }
            }
        }
    }

}

.container-newsletter {
    padding: 0 15px 0 15px;

    p {
        text-align: center;
        margin-bottom: 3vh;
    }

    h2 {
        padding: 5vh 0;
    }

    .container-inputs {
        width: 100%;
        
        input {
            margin: 10px 0 10px 0;
            width: 100%;
            border: unset;
            background-color: #FFF;
            border-radius: 7px;
            height: 8vh;
            padding: 10px;
            font-size: 16px;
            outline: none;
            transition: box-shadow 0.3s;

            &::placeholder {
                color: #8C8C8C;
                font-size: 14px;
            }

            &:hover, &:focus {
                box-shadow: 2px 4px 6px 0 rgba(140, 140, 140, 0.5);
            }
        }
    }

    .container-button {
        text-align: center;
        padding: 3vh;

        button {
            border: none;
            color: #FFF;
            background-color: #343a40;
            height: 7vh;
            width: 55vw;
            border-radius: 7px;
            outline: none;
            font-size: 16px;
            transition: box-shadow 0.3s;
            cursor: pointer;

            &:hover {
                box-shadow: 2px 4px 6px 0 rgba(140, 140, 140, 0.5);
            }

            &:active {
                box-shadow: none;
                -webkit-tap-highlight-color: rgba(0,0,0,0);
            }
        }
    }
}

footer {
    bottom: 0;
    background-color: #fff;
    padding: 5vh;
    text-align: center;
}

@media only screen and (min-width: 768px) {

    .desktop-only {
        display: block !important;
    }

    nav {
        height: 20vh;
        position: absolute;

        .nav-title {
            width: 50%;
        }
        .hamburguer {
            display: none !important;
        }

        .nav-links {
            position: unset;
            justify-content: space-around;
            width: 100%;
            height: 20vh;
            margin-left: auto;
            flex-direction: unset;
            clip-path: unset;
        }
    }

    .container-subheader {
        padding: 10vh 0 5vh 0;

        .subheader{
            padding: 0;
            .container-menu {
                justify-content: center;

                a {
                    background-color: #343a40;
                    color: #fff;
                    padding: 1.5vh 0vw;
                    width: 12vw;
                    border-radius: 5px;
                    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    
                    &:link {
                        text-decoration: none;
                    }
    
                    &:visited {
                        color: #fff;
                    }
    
                    &:active {
                        color: #fff;
                        -webkit-tap-highlight-color: rgba(0,0,0,0);
                        box-shadow: none;
                    }
                }
            }
        }

        .profile-photo {
            transform: translate(0px, -1vh);
        }

        .social-media {
            width: 25% !important;

            .icon {
                cursor: pointer;
            }
        }
    }

    .container-portfolio {
        display: inline-block;

        h2 {
            padding: 5vh 10px;
        }

        .container-card {
            float: left;
            max-width: 33.3%;
            padding: 2vh 10px;

            .card {
                margin-bottom: unset;
            }
        }
    }

    .container-newsletter {
        margin: 0 10vh;

        p {
            margin-bottom: 2vh;
            font-size: 20px;
        }

        h2 {
            padding: 5vh 10px;
        }

        .container-inputs {
            display: inline-block;
            text-align: center;

            input {
                margin: 10px;
                width: 30vw;
                height: 5vh;

                &::placeholder {
                    color: #8C8C8C;
                    font-size: 15px;
                }
            }
        }

        .container-button {

            button {
                width: 20vw;
                height: 5vh;
                font-size: 18px;
            }
        }
    }
}
