* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html, body {
  background-color: #f8f9fa;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

.desktop-only {
  display: none !important;
}

nav {
  height: 13vh;
  background: #272727;
  position: absolute;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

nav .hamburguer {
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
  z-index: 2;
}

nav .hamburguer .line {
  width: 30px;
  height: 3px;
  background: #fff;
  margin: 5px;
}

nav .nav-links {
  display: flex;
  list-style: none;
  position: fixed;
  background: #272727;
  height: 100vh;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  clip-path: circle(100px at 90% -20%);
  -webkit-clip-path: circle(100px at 90% -20%);
  transition: clip-path 0.7s ease-out;
}

nav .nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 0;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

nav .nav-links li a:hover, nav .nav-links li aacvite {
  border-bottom: 2px solid #caba6d;
}

nav .open {
  clip-path: circle(1500px at 90% -20%);
  -webkit-clip-path: circle(1500px at 90% -20%);
  pointer-events: all;
}

.container-subheader {
  background-color: #fff;
  padding: 10vh 0;
}

.container-subheader .subheader {
  text-align: center;
  padding: 10vh 0 0 0;
}

.container-subheader .subheader .container-menu {
  margin-top: 5vh;
  justify-content: space-around;
  display: flex;
}

.container-subheader .subheader .container-menu .desktop-only {
  display: none !important;
}

.container-subheader .subheader .container-menu a {
  background-color: #343a40;
  color: #fff;
  padding: 2vh 5vw;
  width: 35vw;
  border-radius: 5px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.container-subheader .subheader .container-menu a:link {
  text-decoration: none;
}

.container-subheader .subheader .container-menu a:visited {
  color: #fff;
}

.container-subheader .subheader .container-menu a:active {
  color: #fff;
  box-shadow: none;
}

.container-subheader .profile-photo {
  display: flex;
  margin: 0 auto 1vh auto;
  max-height: 200px;
  max-width: 200px;
  border-radius: 50%;
}

.container-subheader .social-media {
  width: 70vw;
  display: flex;
  justify-content: space-around;
  margin: 4vh auto 0 auto;
}

.container-subheader .social-media a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  border-radius: 7px;
  transition: box-shadow 0.3s;
}

.container-subheader .social-media a:hover {
  box-shadow: 2px 4px 6px 0 rgba(140, 140, 140, 0.5);
}

.container-subheader .social-media a:active {
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}

.container-subheader .social-media .icon {
  width: 30px;
}

.container-subheader .bio {
  font-size: 18px;
  margin-top: 3vh;
  padding: 0 1vw;
}

.container-portfolio {
  padding: 0 15px 0 15px;
}

.container-portfolio h2 {
  padding: 5vh 0;
}

.container-portfolio .container-card .card {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  max-width: 100%;
  min-height: 1px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 5vh;
  transition: box-shadow 0.3s;
}

.container-portfolio .container-card .card:hover {
  box-shadow: 2px 4px 6px 0 rgba(140, 140, 140, 0.5);
}

.container-portfolio .container-card .card img {
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.container-portfolio .container-card .card .text-card {
  padding: 2vh;
}

.container-portfolio .container-card .card .text-card h3 {
  padding-bottom: 2vh;
  font-weight: bolder;
}

.container-portfolio .container-card .card .text-card p {
  text-align: justify;
}

.container-curriculum {
  padding: 0 15px 0 15px;
}

.container-curriculum p {
  text-align: center;
  margin-bottom: 3vh;
}

.container-curriculum h2 {
  padding: 5vh 0;
}

.container-curriculum .container-inputs {
  width: 100%;
}

.container-curriculum .container-inputs input {
  margin: 10px 0 10px 0;
  width: 100%;
  border: unset;
  background-color: #FFF;
  border-radius: 7px;
  height: 8vh;
  padding: 10px;
  font-size: 16px;
  outline: none;
  transition: box-shadow 0.3s;
}

.container-curriculum .container-inputs input::placeholder {
  color: #8C8C8C;
  font-size: 14px;
}

.container-curriculum .container-inputs input:hover, .container-curriculum .container-inputs input:focus {
  box-shadow: 2px 4px 6px 0 rgba(140, 140, 140, 0.5);
}

.container-curriculum .container-button {
  text-align: center;
  padding: 3vh;
}

.container-curriculum .container-button button {
  border: none;
  color: #FFF;
  background-color: #343a40;
  height: 7vh;
  width: 55vw;
  border-radius: 7px;
  outline: none;
  font-size: 16px;
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.container-curriculum .container-button button:hover {
  box-shadow: 2px 4px 6px 0 rgba(140, 140, 140, 0.5);
}

.container-curriculum .container-button button:active {
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}

footer {
  bottom: 0;
  background-color: #fff;
  padding: 5vh;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .desktop-only {
    display: block !important;
  }
  nav {
    height: 20vh;
    position: absolute;
  }
  nav .hamburguer {
    display: none !important;
  }
  nav .nav-links {
    position: unset;
    justify-content: space-around;
    width: 100%;
    height: 20vh;
    margin-left: auto;
    flex-direction: unset;
    clip-path: unset;
  }
  .container-subheader {
    padding: 10vh 0 5vh 0;
  }
  .container-subheader .subheader {
    padding: 0;
  }
  .container-subheader .subheader .container-menu {
    justify-content: center;
  }
  .container-subheader .subheader .container-menu a {
    background-color: #343a40;
    color: #fff;
    padding: 1.5vh 0vw;
    width: 12vw;
    border-radius: 5px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  }
  .container-subheader .subheader .container-menu a:link {
    text-decoration: none;
  }
  .container-subheader .subheader .container-menu a:visited {
    color: #fff;
  }
  .container-subheader .subheader .container-menu a:active {
    color: #fff;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none;
  }
  .container-subheader .profile-photo {
    transform: translate(0px, -1vh);
  }
  .container-subheader .social-media {
    width: 25% !important;
  }
  .container-portfolio {
    display: inline-block;
    margin: 0 10vh;
  }
  .container-portfolio h2 {
    padding: 5vh 10px;
  }
  .container-portfolio .container-card {
    float: left;
    max-width: 33.3%;
    padding: 2vh 10px;
  }
  .container-portfolio .container-card .card {
    margin-bottom: unset;
  }
  .container-curriculum {
    margin: 0 10vh;
  }
  .container-curriculum p {
    margin-bottom: 2vh;
    font-size: 20px;
  }
  .container-curriculum h2 {
    padding: 5vh 10px;
  }
  .container-curriculum .container-inputs {
    display: inline-block;
    text-align: center;
  }
  .container-curriculum .container-inputs input {
    margin: 10px;
    width: 30vw;
    height: 5vh;
  }
  .container-curriculum .container-inputs input::placeholder {
    color: #8C8C8C;
    font-size: 15px;
  }
  .container-curriculum .container-button button {
    width: 20vw;
    height: 5vh;
    font-size: 18px;
  }
}
